@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.overflow{
  height: 100vh;
  overflow: hidden;
}


/*--------------------------------- basics-----------------------------*/
a:hover {
  color: #000;
  text-decoration: none;
  transform: scale(1.01);
}
.height300{
  height: 300px;
}
.height500{
  height: 500px;
}
.fontSM{
  font-size: 12px;
}
.tagSM{
  background: none !important;
    color: #b24592 !important;
    border: 1px solid #b24592;
}
.skyVidBG{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Exo 2",sans-serif;
  width: 100%;
    background: #000000c7;
    height: 184px;
}
.skyVidBG h4{
  font-family: inherit;
  font-size: 56px;
  color: #fff;
}
/*--------------------------------- basics-----------------------------*/




/*apploaded.js*/
.mainlogo{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainlogo img{
  width: 120px;
}
.logo-bg{
  width:200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(95, 58, 197);
  border-radius: 50%;
  box-shadow: 0px 8px 20px rgb(88, 88, 88),0px -8px 20px rgb(201, 201, 201);
}
.by{
  position: absolute;
  bottom: 0px;
}

/**app.js*/


/********************* politcs tech and sports category css ***************/
.section-title {
  border-bottom: 1px solid rgba(217, 217, 217, 0.4);
}

.post {
  position: relative;
}
.post--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.t-pb-70 {
  padding-bottom: 70px;
}
.t-pt-70 {
  padding-top: 70px;
}
.t-mr-16 {
  margin-right: 16px;
}
.t-mb-30 {
  margin-bottom: 30px;
}
.t-flex-100 {
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  max-width: 100%;
}


.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.t-link {
  display: inline-block;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.t-link--light {
  color: #fff;
}


.tag-alpha {
  background: #07b3e7;
}
.tag--skew {
  /* -webkit-transform: skewX(-5deg);
  -ms-transform: skewX(-5deg); 
   transform: skewX(-5deg); */
  transform: matrix(1.1, -0.1, 0, 1, 6, -8);
}
.tag {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 1px;
  color: #fff;
  background: #B24592;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F15F79, #B24592);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F15F79, #B24592); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.tag__skew-reverse {
  -webkit-transform: skewX(5deg);
  -ms-transform: skewX(5deg);
  transform: skewX(5deg);
  display: inline-block;
}

/********************* politcs tech and sports category css ***************/




/********************* ERROR PAGE ***************/
.h-100vh {
  height: 100vh;
}
.four_zero_four_bg {
  background-image: url(./assets/images/404.gif);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
}
/********************* ERROR PAGE ***************/




/********************* FOOTER ***************/
.theLogo{
  width: fit-content;
  font-family: 'Exo 2', sans-serif;
  font-size: 32px;
  font-weight: 900;
  background: url('./assets/images/sky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-clip:text;
  -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
/* .t-text-light{
  color: #4396da;
} */
.t-blue{
  color:#4396da;
}
.t-bg-secondary {
  background: #070c17;
}
.t-pb-40 {
  padding-bottom: 40px;
}
.t-pt-40 {
  padding-top: 40px;
}
.t-mb-10 {
  margin-bottom: 10px;
}
.footer-top,.footer-mid {
  border-bottom: 1px solid rgba(217, 217, 217, 0.2);
}
.follow{
justify-content: space-between;
}
.t-follow-link{
  padding: 10px;
  /* background-color: #4396da; */
  border-radius: 4px;
  border: 1px solid #4396da;
  color: white;
  transition: all 0.3s;
}
.t-follow-link:hover{
  color:#4396da;
}
/********************* FOOTER ***************/



/* newsletetr */
.newsletter {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  background: #14213d;
}
.t-mb-10 {
  margin-bottom: 10px;
}
.newsletter__input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  background: rgba(255, 255, 255, 0.09);
  color: #fff;
  text-align: center;
}
@media screen and (min-width: 992px){
.newsletter {
    padding-left: 30px;
    padding-right: 30px;
}
}

/* newsletetr */




/********** Hero ELement **********************/
.hero{
  background-color: #070c17;
}

.t-mt-30 {
  margin-top: 30px;
}
.t-pt-30 {
  padding-top: 30px;
}

.post{
 position: relative;
}
.post--in {
  overflow: hidden;
}
.post--in > img {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.post__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
  background: -webkit-linear-gradient(transparent, black);
  background: -o-linear-gradient(transparent, black);
  background: linear-gradient(transparent, black);
  opacity: 0.9;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.post--in-content-gap {
  left: 15px;
  right: 15px;
  bottom: 30px;
}

@media screen and (min-width: 768px){
.post--in-content {
    bottom: 30px;
    left: 30px;
    right: 30px;
}
}
.post--in-content {
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.post__title {
  font-family: "Exo 2", sans-serif;
  color:aliceblue;
}




/**************** CONTACT **********************/
.t-mb-15 {
  margin-bottom: 15px;
}
.st-comments__form .form-control {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 1;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem ;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  border-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.st-comments__form textarea {
  resize: none;
}
textarea.form-control {
  height: auto;
}
.newsletter__button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.6s ease-in-out;
  background: #4396da;
  /* font-family: "Bebas Neue", cursive; */
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  border: 2px solid transparent;
}
.newsletter__button:hover{
  border: 2px solid #4396da;
  background-color: #fff;
  color: #4396da;
}





/**************** POST YOUR BLOG**********************/
.form-group {
  margin-bottom: 1rem;
  position: relative;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

label i{
  margin-right: 10px;
}

.wrapper11 {
    display: flex;
    background: #fff;
    height: auto;
    width: 100%;
    align-items: center;
    /* justify-content: space-evenly; */
    border-radius: 5px;
    padding: 9px 11px;
    border: 1px solid #e4e5e7;
    /* height: calc(1.8em + .75rem + 2px); */
}

.wrapper11 .option {
    background: #fff;
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px 10px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
}

.wrapper11 .option .dot {
    height: 14px;
    width: 14px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
}

.wrapper11 .option .dot::before {
    position: absolute;
    content: "";
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    background: #0069d9;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}

input[type="radio"] {
    display: none;
}

#option-1:checked:checked~.option-1,
#option-2:checked:checked~.option-2,
#option-3:checked:checked~.option-3,
#option-4:checked:checked~.option-4,
#option-5:checked:checked~.option-5 {
    border-color: #0069d9;
    background: #0069d9;
}

#option-1:checked:checked~.option-1 .dot,
#option-2:checked:checked~.option-2 .dot,
#option-3:checked:checked~.option-3 .dot,
#option-4:checked:checked~.option-4 .dot,
#option-5:checked:checked~.option-5 .dot {
    background: #fff;
}

#option-1:checked:checked~.option-1 .dot::before,
#option-2:checked:checked~.option-2 .dot::before,
#option-3:checked:checked~.option-3 .dot::before,
#option-4:checked:checked~.option-4 .dot::before,
#option-5:checked:checked~.option-5 .dot::before {
    opacity: 1;
    transform: scale(1);
}

.wrapper .option span {
    /* font-size: 20px; */
    color: #808080;
}

#option-1:checked:checked~.option-1 span,
#option-2:checked:checked~.option-2 span,
#option-3:checked:checked~.option-3 span,
#option-4:checked:checked~.option-4 span,
#option-5:checked:checked~.option-5 span {
    color: #fff;
}

@media (max-width:768px) {
    .wrapper11 {
        flex-direction: column;
        justify-content: unset;
    }

    .wrapper11 .option {
        width: 100%;
        justify-content: unset;
    }

    .catinmodal {
        margin: 2px;
    }
}



.nice-select {
    width: 100%;
    /* margin-bottom: 16px; */

}

.nice-select .current {
    /* color: #6c6c6c; */
    font-size: 16px;
}

.nice-select.open .list {
    width: 100%;
    /* box-shadow: 0 0 10px #9d9d9d; */
    z-index: 999;
}

.customLabel{
  position: absolute;
  left: -1px;
  background: #ffffff;
  border-radius: 4px;
  padding: 5px;
  padding-left: 14px;
  border: 1px solid rgb(229 229 229);
  color: #6c6c6c;
  width: 100%;
  top: 31px;
}

#displayimg{
  width: 100px;
  height: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  position: relative;
  top: 10px;
  display: none;
}
/********************************* post your blog ****************************************/


/********************************* Blog wrapper ****************************************/
.detailContent img{
  width: 100% !important;
}
/********************************* Blog wrapper ****************************************/







/********************************* SUMMERNOTE ****************************************/
.panel-heading{
  background-color: #f0f0f0;
}
.note-editing-area{
  height: 300px;
    resize: none;
}
/********************************* SUMMERNOTE ****************************************/






/************************************ REACT_DRAFT_EDITOR *************************************/
.wrapperClassName{
  background-color: rgb(156, 156, 156);
  border-radius: 0.25rem;
}
.editorClassName{
  background-color: #fff;
  height: 200px !important;
  border: 1px solid grey;
}
/************************************ REACT_DRAFT_EDITOR *************************************/






/********************************* LOADER ****************************************/

.loader-container{
  width: 100vw;
  height: 100vh;
  background: url('./assets/images/sky.jpg');
  background-size: cover;
}
.loader-container .overlay{
  width: inherit;
  height: inherit;
  background: #000000ea;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 1050;
  top: 0;
}
.loader{
	-webkit-perspective:700px;
	perspective: 700px;
}

.loader>span{
	font-size: 130px;
	font-family: "franklin gothic medium",sans-serif;
	display: inline-block;
	animation:flip 1.6s infinite linear;
	transform-origin:0 70%;
	transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;
}

@keyframes flip{
	35%{
		transform: rotateY(360deg);
	}
	100%{
		transform: rotateY(360deg);
	}
}


.loader>span:nth-child(even){
	color:white;

}

.loader>span:nth-child(2){
	animation-delay: 0.2s;
}

.loader>span:nth-child(3){
	animation-delay: 0.4s;
}

.loader>span:nth-child(4){
	animation-delay: 0.6s;
}

.loader>span:nth-child(5){
	animation-delay: 0.8s;
}

.loader>span:nth-child(6){
	animation-delay: 1s
}

.loader>span:nth-child(7){
	animation-delay: 1.2s
}
.loading{
  color: #bfbfbf;
  letter-spacing: 18px;
}
/********************************* LOADER ****************************************/









/********************************* RESPONSIVE ****************************************/

@media (max-width:768px) {
  .follow {
    justify-content: flex-start;
  }
  .follow li{
    margin-right: 10px;
  }


  .height300,
  .height500{
    height: unset;
  }


}



