*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/*apploaded.js*/
.mainlogo{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainlogo img{
  width: 120px;
}
.logo-bg{
  width:200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(95, 58, 197);
  border-radius: 50%;
  box-shadow: 0px 8px 20px rgb(88, 88, 88),0px -8px 20px rgb(201, 201, 201);
}
.by{
  position: absolute;
  bottom: 0px;
}

/**app.js*/


/********************* politcs tech and sports category css ***************/
.section-title {
  border-bottom: 1px solid rgba(217, 217, 217, 0.4);
}

.post {
  position: relative;
}
.post--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.t-pb-70 {
  padding-bottom: 70px;
}
.t-pt-70 {
  padding-top: 70px;
}
.t-mr-16 {
  margin-right: 16px;
}
.t-mb-30 {
  margin-bottom: 30px;
}
.t-flex-100 {
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  max-width: 100%;
}


.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.t-link {
  display: inline-block;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.t-link--light {
  color: #fff;
}


.tag-alpha {
  background: #07b3e7;
}
.tag--skew {
  -webkit-transform: skewX(-5deg);
  -ms-transform: skewX(-5deg);
  transform: skewX(-5deg);
}
.tag {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 1px;
}
.tag__skew-reverse {
  -webkit-transform: skewX(5deg);
  -ms-transform: skewX(5deg);
  transform: skewX(5deg);
  display: inline-block;
}

/********************* politcs tech and sports category css ***************/



/********************* FOOTER ***************/

.t-bg-secondary {
  background: #070c17;
}
.t-pb-40 {
  padding-bottom: 40px;
}
.t-pt-40 {
  padding-top: 40px;
}
.t-mb-10 {
  margin-bottom: 10px;
}
.footer-top,.footer-mid {
  border-bottom: 1px solid rgba(217, 217, 217, 0.2);
}

/********************* FOOTER ***************/






/********** Hero ELement **********************/
.hero{
  background-color: rgb(53, 15, 192);
}

.t-mt-30 {
  margin-top: 30px;
}

.post{
 position: relative;
}
.post--in {
  overflow: hidden;
}
.post--in > img {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.post__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
  background: -webkit-linear-gradient(transparent, black);
  background: -o-linear-gradient(transparent, black);
  background: linear-gradient(transparent, black);
  opacity: 0.9;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.post--in-content-gap {
  left: 15px;
  right: 15px;
  bottom: 30px;
}

@media screen and (min-width: 768px){
.post--in-content {
    bottom: 30px;
    left: 30px;
    right: 30px;
}
}
.post--in-content {
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.post__title {
  font-family: "Bebas Neue", cursive;
  color:aliceblue;
}