/*   ------------------------     ADMIN Component     -----------------------------   */
.dynamicAdminContent{
  width: 100%;
  overflow: auto;
}
/*   ------------------------     ADMIN Component     -----------------------------   */

 



/*   ------------------------     LOGIN     -----------------------------   */
.form-container .panel {
  padding: 4px;
  padding-top: 0;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #ecf0ee;
}

.form-control {
  font-size: 14px;
  /* border: 1px solid #e4e5e7; */
  /* height: calc(1.8em + 0.75rem + 2px); */
}

.panel .btn {
  box-shadow: 0 2px 6px 0 rgb(24 194 156);
  color: #fff;
  background-color: #18c29c;
  border-color: #18c29c;
  width: 100%;
}
.toast .highlight{
  background: #212121ba;
  border-radius: 4px;
  text-decoration: none;
  padding: 0 6px;
}
/*   ------------------------     LOGIN     -----------------------------   */

/*   ------------------------     DASHBOARD     -----------------------------   */

/*modal*/
.modal{
 background: #000000bd;
}
.modal-backdrop {
  position: relative;
  z-index: -1;
}
/*modal*/

.card-header{
padding: 20px 24px;
    padding: 1.25rem 1.5rem;
    background-color: #fff;
    border-bottom: 1px solid #eff2f7;
}
/* for categories in modal */
.catinmodal {
  width: 48%;
  padding: 10px;
  background: #e1e1e1;
  margin: 4px;
  border-radius: 4px;
  cursor: pointer;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catinmodal:hover {
  color: white;
  background: #070c17;
  transition: all 0.8s;
}

.catinmodal:hover #ii {
  color: rgb(255, 0, 0);
  transition: all 0.8s;
}

/* for super categories */

.wrapper11 {
  display: flex;
  background: #fff;
  height: auto;
  width: 100%;
  align-items: center;
  /* justify-content: space-evenly; */
  border-radius: 5px;
  padding: 9px 11px;
  border: 1px solid #e4e5e7;
  /* height: calc(1.8em + .75rem + 2px); */
}

.wrapper11 .option {
  background: #fff;
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 4px 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}

.wrapper11 .option .dot {
  height: 14px;
  width: 14px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}

.wrapper11 .option .dot::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  background: #0069d9;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}

input[type="radio"] {
  display: none;
}

#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2,
#option-3:checked:checked ~ .option-3,
#option-4:checked:checked ~ .option-4,
#option-5:checked:checked ~ .option-5 {
  border-color: #0069d9;
  background: #0069d9;
}

#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot,
#option-3:checked:checked ~ .option-3 .dot,
#option-4:checked:checked ~ .option-4 .dot,
#option-5:checked:checked ~ .option-5 .dot {
  background: #fff;
}

#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before,
#option-3:checked:checked ~ .option-3 .dot::before,
#option-4:checked:checked ~ .option-4 .dot::before,
#option-5:checked:checked ~ .option-5 .dot::before {
  opacity: 1;
  transform: scale(1);
}

.wrapper .option span {
  /* font-size: 20px; */
  color: #808080;
}

#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span,
#option-3:checked:checked ~ .option-3 span,
#option-4:checked:checked ~ .option-4 span,
#option-5:checked:checked ~ .option-5 span {
  color: #fff;
}

@media (max-width: 768px) {
  .wrapper11 {
    flex-direction: column;
    justify-content: unset;
  }

  .wrapper11 .option {
    width: 100%;
    justify-content: unset;
  }

  .catinmodal {
    margin: 2px;
  }
}
/*   ------------------------     DASHBOARD     -----------------------------   */




/*   ------------------------     MESSAGES     -----------------------------   */
.body-content{
  padding: 26px 24px;
}

#tbody button {
  border: none;
  outline: none;
  padding: 0px;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  margin: 0 4px;
  color: white;
  cursor: pointer;
}
/*   ------------------------     MESSAGES     -----------------------------   */





/*   ------------------------     BLOGS_MANAGEMENT     -----------------------------   */
 /* for required image file input */
 .abcc {
  border: 1px solid #dd0f0f !important;
}

#starRed {
  display: none;
}

.abc1 {
  display: inline !important;
  color: red;
}

#go{
  background-color: #28a745;
                          border: none;
                          outline: none;
                          padding: 5px 20px;
                          font-size: 14px;
                          color: white;
                          border-radius: 4px;
                          box-shadow: 0 2px 6px 0 rgb(40 167 69 / 50%);
                          cursor: pointer;
}
.switch{
  position: relative;
      display: inline-block;
      width: 50px;
      height: 26px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
input:checked + .slider {
  background-color: #28a745;
}
.slider.round {
  border-radius: 34px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider.round:before {
  border-radius: 50%;
}
input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}
/*   ------------------------     BLOGS_MANAGEMENT     -----------------------------   */






/********************************* RESPONSIVE ****************************************/

@media (max-width:576px) {
#MyClockDisplay{
  display: none;
}

.title{
  font-size: 1.5rem;
}

.body-content {
  padding: 15px 12px;
}

}


/********************************* RESPONSIVE ****************************************/
