.page-wrapper {
    width: 100%;
    height: auto;
    margin-bottom: 69px;
  }
  
  .nav-wrapper {
    width: 100%;
    position: -webkit-sticky; /* Safari */
    /* position: sticky; */
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 999;
  }
  
  .grad-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
        -webkit-animation: gradbar 15s ease infinite;
      -moz-animation: gradbar 15s ease infinite;
      animation: gradbar 15s ease infinite;
  }
  
  /* NAVIGATION */
  
  .navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    /* box-shadow: 0 0 40px #c2c2c2; */
    /* height: 50px; */
    /* overflow: hidden; */
  }
  

  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-item{
    cursor: pointer;
  }
  .nav-item a {
    color: #000;
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease-out;
  }
  
  .nav-item a:hover {
    color: #0095f8;
  }
  
  /* SEARCH FUNCTION */
  
  /* #search-icon {
    font-size: 0.9rem;
    margin-top: 3px;
    margin-left: 15px;
    transition: color 0.3s ease-out;
  } */
  
  /* #search-icon:hover {
    color: #3498db;
    cursor: pointer;
  } */
  
  /* .search {
    transform: translate(-35%);
    -webkit-transform: translate(-35%);
    transition: transform 0.7s ease-in-out;
    color: #3498db;
  } */
  
  /* .no-search {
    transform: translate(0);
    transition: transform 0.7s ease-in-out;
  } */
  
  /* .search-input {
    position: absolute;
    top: -4px;
    right: -125px;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.6s ease;
  } */
  
  /* .search-active {
    opacity: 1;
    z-index: 0;
  } */
  
  /* input {
    border: 0;
    border-left: 1px solid #ccc;
    border-radius: 0;
    outline: 0;
    padding: 5px;
  } */
  
  /* MOBILE MENU & ANIMATION */
  
  .menu-toggle .bar{
    width: 25px;
    height: 3px;
    background-color: #3f3f3f;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .menu-toggle {
    justify-self: end;
    margin-right: 25px;
    display: none;
  }
  
  .menu-toggle:hover{
    cursor: pointer;
  }
  
  #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
  }
  
  #mobile-menu.is-active .bar:nth-child(1){
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  
  #mobile-menu.is-active .bar:nth-child(3){
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  
  /* KEYFRAME ANIMATIONS */
  
  @-webkit-keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  @-moz-keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  @keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  /* Media Queries */
  
    /* Mobile Devices - Phones/Tablets */
  
  @media only screen and (max-width: 720px) { 
  
    
    /* MOBILE NAVIGATION */
    
    .navbar ul {
      display: flex;
      flex-direction: column;
      position: fixed;
      justify-content: flex-start;
      top: 55px;
      left: 0;
      background-color: #fff;
      width: 100%;
      height: calc(100vh + 55px);
      transform: translate(-101%);
      text-align: center;
      overflow: hidden;
    }
    
    .navbar li {
      padding: 15px;
    }
    
    .navbar li:first-child {
      margin-top: 50px;
    }
    
    .navbar li a {
      font-size: 1rem;
    }
     
    .menu-toggle, .bar {
      display: block;
      cursor: pointer;
    }
    
    .mobile-nav {
    transform: translate(0%)!important;
  }
    
    /* SEARCH DISABLED ON MOBILE */
    
    #search-icon {
      display: none;
    }
    
    .search-input {
    display: none;
   }
    
  }
  





.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    display: none;
    width: auto;
    position: absolute;
    left: 7px;
    bottom: -50px;
    background-color: #f9f9f9;
    padding: 6px 0;
    min-width: 650px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: inline-block;
}

.dropdown-content a:hover {
    color: #00b9f1 !important;
    background: #f9f9f9;
}

.dropdown:hover .dropdown-content {
    display: flex;
    /* flex-wrap: wrap; */
}

.dropdown:hover .dropbtn {
    color: #00b9f1 !important;
}


@media screen and (max-width: 768px) {
    .dropdown-content {
        position: static;
        left: 0;
        min-width: unset;
        background-color: inherit;
        flex-direction: column;
        box-shadow: none;
    }

    .dropbtn {
        padding: 0;
        font-size: 18px;
    }
}

/*https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2*/

/*  =====================  SEARCH BAR   ===================================   */

.searchContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.search {
  border-radius: 999px;
  border: 2px solid transparent;
  padding: 0.6rem 1rem;
  display: flex;
  transition: border-color 0.2s linear, padding 0.3s 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.search svg{
  width: 25px;
}
.search:not(:focus-within) {
  --transition-time-input: 0.2s 0s;
}
@media (prefers-reduced-motion: reduce) {
  .search {
    --transition-time-icon: 0s !important;
    --transition-time-input: 0s !important;
  }
}
.search__input {
  background: transparent;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  opacity: 0;
  outline: none;
  padding: 0;
  transition: width 0.3s 0.25s cubic-bezier(0.4, 0, 0.2, 1), padding 0.3s 0.25s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s 0.25s linear;
  width: 0;
}
.search__input::placeholder {
  color: var(--color);
  opacity: 0.75;
}
.search__icon-container {
  /* height: calc(2rem + 2rem); */
  position: relative;
  /* width: calc(2rem + 2rem); */
  width: 20px;
}
.search__label, .search__submit {
  color: var(--color);
  cursor: pointer;
  display: block;
  height: 100%;
  padding: 0;
  position: absolute;
  width: 100%;
  display: flex;
  left: 0;
}
.search__label:hover, .search__submit:hover, .search__label:focus, .search__submit:focus, .search__label:active, .search__submit:active {
  color: #4396da;
}
.search__label {
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.1s;
}
.search__submit {
  background: none;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 0 4px inset transparent;
  display: none;
  outline: none;
  transition: color 0.1s, box-shadow 0.1s;
}
.search__submit svg {
  transform: scale(0.5);
}
.search__submit:focus {
  box-shadow: 0 0 0 4px inset white;
}
.search:focus-within {
  border-color: #73b5ecd6;
}
.search:focus-within .search__input {
  opacity: 1;
  padding: 0 1rem 0 0.5rem;
  width: calc(1rem * 12);
}
/* .search:focus-within .search__label {
   transform: scale(0.5); 
   position: absolute; 
   top: 11px; 
   left: -17px;
} */
.search:focus-within .search__submit {
  animation: unhide 0.2s steps(1, end);
  display: block;
}
@keyframes unhide {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: auto;
    opacity: 1;
  }
}


.search-dropdown{
  width: fit-content;
  position: absolute;
  top: 66px;
  background: white;
  /* padding: 0.8rem; */
  height: 70vh;
  overflow: auto;
}
.search-dropdown::-webkit-scrollbar{
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: #545454;
}
/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
} */

.dropdown-item{
  padding: 0.8rem 1.5rem;
  text-align: unset;
  white-space: unset;
}
.hide{
  display: none;
}
/*  =====================  SEARCH BAR   ===================================   */