:root {
    --color-background: #222;
    --color-foreground: #ddd;
  }
  *, *::before, *::after {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
  }
  .container {
    align-items: center;
    background:#222;
    display: flex;
    height: 100vh;
    justify-content: center;
  }
  .search {
    --easing: cubic-bezier(0.4, 0, 0.2, 1);
    --font-size: 2rem;
    --color: #222;
    --color-highlight: white;
    --transition-time-icon: 0.2s;
    --transition-time-input: 0.3s 0.25s;
    border-radius: 999px;
    border: 2px solid transparent;
    display: flex;
    transition: border-color 0.2s linear, padding 0.3s 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .search:not(:focus-within) {
    --transition-time-input: 0.2s 0s;
  }
  @media (prefers-reduced-motion: reduce) {
    .search {
      --transition-time-icon: 0s !important;
      --transition-time-input: 0s !important;
    }
  }
  .search__input {
    background: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    opacity: 0;
    outline: none;
    padding: 0;
    transition: width 0.3s 0.25s cubic-bezier(0.4, 0, 0.2, 1), padding 0.3s 0.25s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s 0.25s linear;
    width: 0;
  }
  .search__input::placeholder {
    color: var(--color);
    opacity: 0.75;
  }
  .search__icon-container {
    height: calc(2rem + 2rem);
    position: relative;
    width: calc(2rem + 2rem);
  }
  .search__label, .search__submit {
    color: var(--color);
    cursor: pointer;
    display: block;
    height: 100%;
    padding: 0;
    position: absolute;
    width: 100%;
  }
  .search__label:hover, .search__submit:hover, .search__label:focus, .search__submit:focus, .search__label:active, .search__submit:active {
    color: white;
  }
  .search__label {
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.1s;
  }
  .search__submit {
    background: none;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 0 4px inset transparent;
    display: none;
    outline: none;
    transition: color 0.1s, box-shadow 0.1s;
  }
  .search__submit svg {
    transform: scale(0.5);
  }
  .search__submit:focus {
    box-shadow: 0 0 0 4px inset white;
  }
  .search:focus-within {
    border-color: var(--color);
  }
  .search:focus-within .search__input {
    opacity: 1;
    padding: 0 1rem 0 2rem;
    width: calc(2rem * 12);
  }
  .search:focus-within .search__label {
    transform: scale(0.5);
  }
  .search:focus-within .search__submit {
    animation: unhide 0.2s steps(1, end);
    display: block;
  }
  @keyframes unhide {
    from {
      height: 0;
      opacity: 0;
    }
    to {
      height: auto;
      opacity: 1;
    }
  }
  